html, body {
  margin: 0;
  padding: 0;
}

.container-fluid {
  padding: 0;
}

strong {
  color: #875ea7;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 700;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Fira Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 1px;
}
h1 {
  color: #000;
  font-weight: 700;
  font-size: 20px;
}
h2 {
  color: #875ea7;
  font-family: 'Fira Sans', sans-serif;
  font-style: italic;
  font-weight:700;
  letter-spacing: 2px;
}
h3 {
  font-size: 18px;
}
p {
  font-family: 'Fira Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  width: 100%;
  padding: 0 15px;
}
a, li{
  text-decoration: none;
  font-family: 'Fira Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
}
header a {
  color: #000;
  font-family: 'Fira Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 1px;
}
header {
  background: #fff;
}

.nav-collapse a:active, .nav-collapse .active a {
  background: #875ea7;
  text-decoration: none;
}

.logo {
  color: #000;
  padding: 0 20px 10px 10px;
}

#main-logo {
  width: 130px;
  padding-top: 10px;
  padding-left: 10px;
  margin-left: 6px;
}

.nav-collapse a {
  color: #000;
  background: none;
  padding-top: 22px;
}

.nav-collapse a:hover {
  text-decoration: none;
  opacity: 0.5;
  transition: all .3s;
}

.nav-collapse .active a {
  color: #fff;
  height: 65px;
}

.nav-collapse .active a:hover {
  opacity: 1;
}

.nav-toggle:before {
  color: #000;
}

#header-img {
  background: url("img/phone-beach.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 300px;
}

/*MAIN CONTENT*/

section {
  border-bottom: none;
  text-align: left;
  padding: 15px;
  height: none;
  width: 100%;
}
#description-img {
  background: url("img/hiker-white.jpg") bottom center;
  background-size: cover;
  width: 100%;
  text-align: center;
  padding: 50px;
}
#description p {
  padding-bottom: 3px;
}

#about {
  text-align: center;
}

.download-icons {
  text-align: center;
}

.download-icons img {
  margin: auto;
  width: 150px;
  padding: 15px;
}

/*FEATURES SECTION*/

#features {
  margin: 0;
  width: 100%;
  background-color: #875ea7;
}

#features .media {
  padding: 25px;
}

#features img {
  width: 50px;
  padding-bottom: 14px;
}

.media {
  margin-top: 0;
}

.media-body h4, .media-body p {
  padding-left: 15px;
}

.media-body h4 {
  color: #fff;
}

.media-body p {
  color: #ddd;
}

/*GET ROVIE*/

#get-rovie {
  background: url("img/get-rovie.png") center;
  background-size: cover;
  height: 300px;
}

section #last-icons {
  display: inline;
  text-align: center;
}

/*CONTACT SECTION*/
#contact {
  background-color: #eee;
}
#contact h4 {
  color: #875ea7;
}

#contact ul {
  list-style-type: none;
  text-align: center;
}

#contact ul a, #contact li {
  text-decoration: none;
  color: #777;
}

#contact ul a:hover {
  text-decoration: underline;
}

#disclaimer {
  text-align: center;
  padding: 20px;
  font-size: 12px;
}

#disclaimer a {
  text-decoration: none;
  color: #777;
}

#disclaimer a:hover {
  text-decoration: underline;
}









@media screen and (max-width: 750px) {

  .nav-toggle:before {
    color: #875ea7;
    content: url(img/hamburger.svg);
    width: 40px;
    padding-top: 9px;
  }

  .nav-toggle.active:before {
    content: url(img/close.svg);
    width: 28px;
    padding-top: 15px;
    margin-left: 6px;
  }
}

@media screen and (min-width: 750px) {

  #header-img{
    height: 450px;
  }

}

@media screen and (min-width: 850px) {

  #description p {
    padding: 50px;
  }

  .media {
    display: inline-block;
    /*width: 45%;*/
  }

  #features {
    padding: 25px 50px;
  }
}

@media screen and (min-width: 1100px) {

  #header-img {
    height: 520px;
  }

  #description-img {
    padding: 100px;
  }

  #description p {
    padding: 50px 100px;
  }

  #get-rovie {
    height: 400px;
  }

  #features {
    padding: 50px 100px;
  }

}

@media screen and (min-width: 1200px) {


}

@media screen and (min-width: 1300px) {

  #header-img {
    height: 570px;
  }

  #description p {
    padding: 50px 230px;
  }

}